body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}



.maze {

    display: grid;
    grid-template-columns: repeat(10, 40px);
    /* 10x10 網格 */
    gap: 2px;
    border: 4px solid black;
    /* 設置迷宮的外框邊界 */
    padding: 5px;
}

.cell {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    /* 使用 Flexbox */
    align-items: center;
    /* 垂直置中 */
    justify-content: center;
    /* 水平置中 */
    font-size: 14px;
    /* 文字大小 */
    color: white;
    /* 預設文字顏色 */
}

.wall {
    background-color: #333;
}

.path {
    background-color: #fff;

}

.start {
    background-color: green;
    text-align: center;
    color: green;
}

.start:hover {

    color: blue;
}

.end {
    background-color: red;
    color: red;
}

.end:hover {
    background-color: #333;
    font-size: 2em;
    color: white;
}

/* 使用 :hover 模擬滑鼠移動的效果 */
.path:hover {
    background-color: lightblue;
}

.red {
    color: #333;
}

.red:hover {
    background-color: red;
    color: white;
}

.u:hover {
    background-color: lightblue;
}

.X:hover {

    background-color: #333;
    font-size: 2em;
}

.one:hover {
    transform: translateY(-42px);



}






button {
    background: none;
    color: chocolate;
    border: 3px solid;
    padding: 0.5em 1em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;

}

button:hover {
    border-color: gold;
    color: gold;
    box-shadow: 0 0.5em 0.5em -0.4em gold;
    transform: translateY(-0.25em);
    cursor: pointer;
}